<div *ngIf="races" class="container">
    <div class="row">
        <div class="white col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let race of races">
            <div class="raceVenue" [ngStyle]="{'height':race.show?'600px':'auto'}">
                <div class="racePicture">
                    <img class="racelogoPicture" src={{race.image}}>
                </div>
                <div class="raceText">
                    <ul>
                        <li><h4 [ngStyle]="{'font-size':race.title.length<22?'18px':'12px'}">{{race.title}}</h4></li>
                        <li><h6>{{race.eventType}}</h6></li>
                        <button (click)="(race.show==false)?race.show=true:race.show=false" class="pull-right btn btn-default btn-lg">
                            <span *ngIf="race.show" class="glyphicon glyphicon-menu-up"></span>
                            <span *ngIf="!race.show" class="glyphicon glyphicon-menu-down"></span>
                        </button>
                    </ul>
                    <br/><br/><br/>

                </div>



                <ul *ngIf="race.show" class="align-left raceVenueInfo">
                    <br/><br/><br/>
                    <!--
                    <li>Location: <a href={{race.location}}>Open in Maps</a></li>
                    TODO: make location open in maps for phone and google directions for web -->
                    <li><strong>Address:</strong> <a href='#'>{{race.address}}</a></li>
                    <li *ngIf="!race.isNonOCREvent"><strong>Course Length:</strong> {{race.milesPerLap}} miles</li>
                </ul>
                <div *ngIf="race.isNonOCREvent && race.show" class="nonOCREvents">
                    <ul *ngFor="let nonOcrEvent of race.nonOCREvents">
                        <li><strong>Race: </strong>{{nonOcrEvent.name}}</li>
                    </ul>
                </div>
                <div *ngIf="race.show" class="container">
                    <div class="row">
                        <h4> I ran {{this.lapCount}} laps!!</h4>
                    </div>
                    <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <laplogger *ngIf="race.show" [lapCount]="this.lapCount"
                                   (countChange)="countChange($event)"></laplogger>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <button class="btn btn-primary">Log These Laps!</button>
                    </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
