.welcomepage {
    width: 100%;
    background-color: #63A2D8;
    margin-left: 1em;
}

.racelocallogo {
    width: 75%;
    margin-left:13%;
    max-height: 50%;
}

.loginbutton {

    width: 50%;
    margin-left: 25%;
}

h3,
p {

    color: white;
    font-family: 'Cabin Sketch', cursive;
}