<div class="container-fluid lapbody">
 <h4> I ran {{this.lapCount}} laps!!</h4>
    <form class="form-inline row">
        <div class="col-xs-12 col-sm-12">

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary" (click)="this.decrement()">-</button>
            </div>

            <div [formGroup]="loggerForm" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <input [formControl]="loggerForm.controls['count']"
                        formControlName="count"
                        class="form-control form lapcount col-xs-2 col-sm-2 col-md-2 col-lg-2"
                       [(ngModel)]="this.lapCount" disabled>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary " (click)="this.increment()">+</button>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary">Log it!</button>
            </div>

        </div>
    </form>

</div>