.racelocallogo{
    height: 75px;
    margin-left: .5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    background-color: white;
    box-sizing: content-box;
}


.racelocaltext {
    margin-top: .5em;
}

.profile-btn {
    margin-top: .5em;
    margin-right: 1em;
}

.navbar {

    margin-left: -15px;
    margin-right: -15px;

}

a {
    font-family: 'Cabin Sketch', cursive;
    font-size: 18px;
}