<nav class="navbar navbar-inverse" *ngIf="auth.authenticated()">
  <div>
    <div class="navbar-header">

      <img class="navbar-brand racelocallogo" src="../../../assets/racelocal2017web.png">
      <a  class="navbar-brand racelocaltext" href="#">#racelocal2017</a>
      <ul class="nav navbar-nav navbar-right pull-right">
        <li role="presentation" class="profile-btn"><a href="/profile" *ngIf="auth.authenticated()">Profile</a></li>

      </ul>



    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
<div>
<ul class="nav nav-pills">
  <li role="presentation"><a (click)="auth.logout()" *ngIf="auth.authenticated()" class="navbtn">Log Out!</a></li>
  <li role="presentation"><a routerLink="/dashboard" *ngIf="auth.authenticated()" class="navbtn">Me</a></li>
  <li role="presentation"><a routerLink="/racelog" *ngIf="auth.authenticated() && !this.getSpahtenService.checkForFirstTimeEntry()" class="navbtn">Race Log</a></li>

</ul>
</div>

<router-outlet></router-outlet>
